<%= render "shared/header" %>
<div class="question-background">
  <div class="contents-row">
    <div class="container">
      <%= form_with model: [@user,@question], local: true do |f| %>
        <h2 class="edit-question">問題編集</h2>
        <h3 class="field">問題</h3>
        <%= f.text_area :problem_statement, placeholder:"問題文", class:"question-field" %>

        <h3 class="field">答え</h3>
        <%= f.text_area :correct_answer, placeholder:"答え", class:"question-field"%>
        <div class="edit-question-bottun">
          <%= f.submit "問題内容を更新", class:"update-question-bottun" %>
        </div>
        <div class="edit-question-bottun">
          <%= link_to "戻る", user_question_path(@user.id,@question.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>