<%= render "shared/header" %>

<h2>問題編集</h2>

<%= form_with model: [@user,@question], local: true do |f| %>
  <h3>問題</h3>
    <%= f.text_area :problem_statement, placeholder:"問題文" %>

  <h3>解答</h3>
    <%= f.text_area :correct_answer, placeholder:"解答文"%>
  <div>
    <%= f.submit "問題を編集する" %>
  </div>
<% end %>
<div>
  <%= link_to "戻る", user_question_path(@user.id,@question.id) %>
</div>
