<%= render "shared/header" %>

<h2>問題一覧</h2>
<% unless @questions.exists? %>
  問題を作成しておりません。
<% end %>
<% @questions.each do |question| %>
  <div>
    <%= question.problem_statement %>
    <% if user_signed_in? %>
      <%= link_to "詳細", user_question_path(@user.id,question.id) %>
      <%= link_to "問題を解く", new_user_question_answer_path(@user.id,question.id) %>
    <% end %>
  </div>
<% end %>

<div>
  <%= link_to "戻る", user_path(@user.id) %>
</div>