<%= render "shared/header" %>

<h2>問題文</h2>
<%= @question.problem_statement %>
<h2>答え</h2>
<%= @question.correct_answer %>
<div>
  <%= link_to "問題を編集する", edit_question_path %>
</div>
<div>
  <%= link_to "問題一覧に戻る", questions_path %>
</div>

<h2>今までの解答</h2>
<% @answers.each do |answer| %>
  <% i = 1 %>
  <div>
    <div>
      <%= "#{i}回目の解答" %>
    </div>
    <div>
      <%= answer.answer %>
    </div>
    <div>
      <%= Feedback.find(answer.feedback_id).name %>
    </div>
  </div>
  <% i += 1 %>
<% end %>

