<%= render "shared/header" %>

<%= @user.nickname %>
<div>
  <% if current_user.id == @user.id %>
    <div>
      <%= link_to "タイマー", user_time_managements_path(@user.id), target: :_blank %>
    </div>
    <div>
      <%= link_to "問題作成", new_user_question_path(@user.id) %>
    </div>
  <% end %>
  <div>
    <%= link_to "#{@user.nickname}が作成した問題一覧", user_questions_path(@user.id) %>
  </div>
  <div>
    <%= link_to "ユーザーリスト", root_path %>
  </div>
</div>

<h2>勉強時間</h2>

１日当たりの勉強時間（分）
<%= line_chart @graph, width: "400px", height: "250px" %>

<% @times.each do |time| %>
  <div>
    <%= time.date %>
      <% if time.time >= 3600 %>
        <%= "#{(time.time) / 3600}時間#{(time.time % 3600) / 60}分#{(time.time) % 60}秒" %>
      <% else %>
        <%= "#{(time.time % 3600) / 60}分#{(time.time) % 60}秒"%>
      <% end %>
  </div>
<% end %>
