<%= render "shared/header" %>
<div class="question-background">
  <div class="contents-row">
    <div class="container">
      <%= form_with url: user_question_answers_path(@user.id,@question.id), local: true do |f| %>
        <%= render 'shared/error_messages', model: @answer %>
        <h3 class="list-field">問題</h3>
        <div>
          <%= @question.problem_statement %>
        </div>
        <h3 class="list-field">解答</h3>
        <%= f.text_area :answer, placeholder:"解答文", class:"question-field", autofocus: true %>
        <div class="field", id="see_answer">
          <span class="answer-question-bottun">答えを見る</span>
        </div>
        <div class="hidden-answer", id="feedback">
          <div class="list-field">
            答え <%= @question.correct_answer %>
          </div>
          <div>
            問題の手応え
          </div>
          <div>
            <%= f.collection_select(:feedback_id, Feedback.all, :id, :name, {}, {class:"feedback-field"}) %>
          </div>
          <div class="new-answer-bottun">
            <%= f.submit "解答を保存する", class:"answer-question-bottun" %></div>
          </div>
        <div class="new-answer-bottun">
          <%= link_to "戻る", user_questions_path(@user.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>