<%= render "shared/header" %>

<%= form_with url: user_question_answers_path(@user.id,@question.id), local: true do |f| %>
  <%= render 'shared/error_messages', model: @answer %>
  <h3>問題</h3>
  <div>
    <%= @question.problem_statement %>
  </div>
  <h3>解答</h3>
  <%= f.text_area :answer, placeholder:"解答文"%>
  <div id="see_answer">
    答えを見る
  </div>
  <div class="hidden", id="feedback">
    <div>答え <%= @question.correct_answer %></div>
    <div><%= f.collection_select(:feedback_id, Feedback.all, :id, :name, {}, {}) %></div>
    <div><%= f.submit "解答を保存する" %></div>
  </div>
<% end %>

<%= link_to "戻る", user_questions_path(@user.id) %>