<%= render "shared/signup_header" %>
<div class="login-background">
  <div class="contents-row">
    <div class="container">
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="login">
          ログイン
        </div>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, class:"small-field"%>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "off", class:"small-field"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.label :ログインしたままにする %><br />
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="login">
          <%= f.submit "ログイン", class:"login-bottun" %>
        </div>
      <% end %>
    </div>
  </div>
</div>